spring:
  datasource:
    url: jdbc:h2:mem:authdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  application:
    name: auth-system
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  graphql:
    graphiql:
      enabled: true

jwt:
  token: kuegubqefjkfbjeefqbjeqfbjkeqfbjkqefjkeqfqefjleqfjlheqfhjlefhjlefq
  expiration: 1000000000

cookie:
  accessToken: kcjbdcjknsdcjkncjndcsnkladcsklcalkklacslaskacslnkaslkakld